*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;   
}

#div-logo{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

/*login*/

#div-logo-login{
    display: flex; 
    justify-content: center;
    width: 100vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.div-form{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.div-input{
    display: flex;
    align-items: center;
    width: 82.5%;
    padding: 1.1em;
    margin-top: 1em;
    border: none;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 1);
}
.input-login{
    width: 100%;
    background-color:  rgba(48, 63, 159, 0);
    border: none;
}
.input-icon{
    width: 5%; 
    height: 5%;
    margin-right: 0.7em;
    color: rgba(77, 77, 77, 1);
}

.big-button{
    text-align: center;
    width: 95%;
    padding: 1.3em;
    border: none;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    background-color: rgba(49, 27, 146, 1);
}



/*transferenica*/
#logo-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgba(23, 23, 26, 1);
    padding-left: 5%;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);

}

.card{
    margin-top: 15%;
    padding: 7%;
    width: 75%;
    background-color: rgba(82, 82, 255, 1);
    border-radius: 10px;
    background-image: url('/images/Ellipse1.png'), url('/images/Ellipse2.png');
    background-size: 53%, 58%;
    background-repeat: no-repeat;
}

.card h3{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 5%;
    font-family: 'Lato',sans-serif;
    font-size: 0.9em;
}

.card h1{
    color: rgba(255, 255, 255, 1);
    font-family: 'Lato',sans-serif;   
}

.input-radio{
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-radio input{
    margin-right: 10%;
    width: 20px; 
    height: 20px;
}
.input-radio label{
    margin-left: 5%;
    color: rgba(77, 77, 77, 1);
}