<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wibond</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    <div class="bar">
      <img
        src="/images/arrow.png"
        style="height: 30px; padding-left: 5%; color: rgba(77, 77, 77, 1)"
        alt=""
      />
      <div style="display: flex; padding-right: 5%">
        <img src="/images/logo-sin-texto.png" style="height: 15px" alt="" />
        <p id="logo-text">WIBOND</p>
      </div>
    </div>
  </header>
  <body>
    <h1 style="font-size: 1.7em; padding-top: 8%; padding-left: 6%">
      Verificacion
    </h1>
    <div
      class="container"
      style="
        display: flex;
        width: 100vw;
        align-items: center;
        flex-direction: column;
      "
    >
      <div class="progress-bar">
        <img src="images/progress-done.png" alt="" />
        <img
          src="images/finished-to-finished.png"
          style="background-color: rgba(2, 188, 138, 1)"
          alt=""
          srcset=""
        />
        <img src="images/progress-done.png" alt="" srcset="" />
        <img
          src="images/finished-to-finished.png"
          style="background-color: rgba(2, 188, 138, 1)"
          alt=""
          srcset=""
        />
        <img src="images/progress-active.png" alt="" srcset="" />
      </div>
      <p
        style="padding-left: 40%; padding-top: 2%; color: rgba(80, 124, 221, 1); font-size: 0.7em;"
      >
        Ultimo paso!
      </p>

      <div style="margin-top: 6%; width: 84%">
        <p
          style="
            font-family: Montserrat, sans-serif;
            color: rgba(77, 77, 77, 1);
            font-weight: 600;
            padding-bottom: 5%;
            font-size: 0.9em;
          "
        >
          Necesitamos que
          <span
            style="
              font-family: Montserrat, sans-serif;
              color: rgba(80, 124, 221, 1);
              
            "
            >autorices</span
          >
          la transferencia.
        </p>
        <p
          style="
            font-family: Montserrat, sans-serif;
            color: rgba(77, 77, 77, 1);
            font-weight: 600;
            font-size: 0.9em;
          "
        >
          Elegi donde preferis recibir tu codigo de verificacion.
        </p>
      </div>

      <div style="width: 75%; margin-top: 8%">
        <button class="outline-button">
          <img
            src="images/mail.png"
            style="padding-right: 3%"
            alt=""
            srcset=""
          />
          Email
        </button>
        <button
          class="outline-button"
          style="
            border: 1px solid rgba(80, 124, 221, 1);
            color: rgba(80, 124, 221, 1);
          "
        >
          <img
            src="images/whatsapp-blue.png"
            style="padding-right: 3%"
            alt=""
            srcset=""
          />
          Whatsapp
        </button>
        <button class="outline-button">
          <img
            src="images/whatsapp.png"
            style="padding-right: 3%"
            alt=""
            srcset=""
          />
          SMS
        </button>
      </div>
      <button class="big-button" style="margin-top: 60%; width: 80%">
        Siguiente
      </button>
    </div>
  </body>
</html>
