<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wibond</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/js/scriptLogin.js" defer></script>
  </head>
  <body>
    <div id="div-logo-login">
      <img src="/images/Logo.png" style="width: 40%; height: auto" />
    </div>

    <form id="formLogin" >
      <div style="width: 100%" class="div-form">
      <div class="div-input" style="background-color: rgba(48, 63, 159, 0.2)">
        <img src="/images/Icon.png" class="input-icon" />
        <input
          placeholder="Usuario"
          class="input-login"
          style="color: rgba(77, 77, 77, 1)"
          name="usuario"
          id="input-usuario"
        />
      </div>

      <div class="div-input">
        <img src="/images/mail.png" class="input-icon" />
        <input
          minlength="8"
          placeholder="Contrasena"
          class="input-login"
          style="color: rgba(77, 77, 77, 1)"
          name="password"
          id="input-password"
          type="password"
        />
      </div>
    </div>
      <p
        style="
          color: rgba(28, 25, 57, 0.8);
          text-align: end;
          margin-top: 1.5em;
          margin-right: 1.5em;
          font-weight: 500;
          font-size: 0.9em;
        "
      >
        Olvidaste la contrasena?
      </p>
  
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 3.3em;
        "
      >
        <button disabled class="big-button" id="button-login" onclick="catchValue()" type="submit">Iniciar sesion</button>
    </form>

    
      <p style="margin-top: 1.5em; font-weight: 400; color: rgba(28, 25, 57, 0.8);">No tenes una cuenta? - <span><b>Registrate</b></span></p>
    </div>
  </body>
</html>
