<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wibond</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bar">
      <img
        src="/images/arrow.png"
        style="height: 30px; padding-left: 8%; color: rgba(77, 77, 77, 1)"
        alt=""
      />
      <div style="display: flex; padding-right: 5%">
        <img src="/images/logo-sin-texto.png" style="height: 15px" alt="" />
        <p id="logo-text">WIBOND</p>
      </div>
    </div>
    <h1
      style="
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        padding: 5%;
        font-size: 1.8em;
      "
    >
      Recupera tu contrasena
    </h1>

    <div style="width: 100%" class="div-form">
      <div class="div-input" style="background-color: rgba(48, 63, 159, 0.2)">
        <img src="/images/Icon.png" class="input-icon" />
        <input
          placeholder="Introduce tu nueva contrasena"
          class="input-login"
          style="color: rgba(77, 77, 77, 1)"
          name="password"
          id="password"
        />
      </div>

      <div class="div-input" style="background-color: rgba(48, 63, 159, 0.2)">
        <img src="/images/Icon.png" class="input-icon" />
        <input
          placeholder="Vuelve a introducir tu nueva contrasena"
          class="input-login"
          style="color: rgba(77, 77, 77, 1)"
          name="password-2"
          id="password-2"
        />
      </div>
     
    
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.3em;
      "
    >
      <button
        class="big-button"
        onclick="redirect()"
        id="button-register"
        type="submit"
      >
        Finalizar recuperacion de contrasena
      </button>
    </div>
    <script>
              function redirect(){
      window.location.href = 'http://127.0.0.1:5500/views/historiaUno.html'
              }
    </script>
  </body>
</html>
