<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wibond</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="/js/scriptVerificacion.js" defer></script>
  </head>
  <header>
    <div class="bar">
      <img
        src="/images/arrow.png"
        style="height: 30px; padding-left: 5%; color: rgba(77, 77, 77, 1)"
        alt=""
      />
      <div style="display: flex; padding-right: 5%">
        <img src="/images/logo-sin-texto.png" style="height: 15px" alt="" />
        <p id="logo-text">WIBOND</p>
      </div>
    </div>
  </header>
  <body>
    <h1 style="font-size: 1.7em; padding-top: 8%; padding-left: 6%">
      Verificacion
    </h1>
    <div
      class="container"
      style="
        display: flex;
        width: 100vw;
        align-items: center;
        flex-direction: column;
      "
    >
      <div class="progress-bar">
        <img src="/images/progress-done.png" alt="" />
        <img
          src="/images/finished-to-finished.png"
          style="background-color: rgba(2, 188, 138, 1)"
          alt=""
          srcset=""
        />
        <img src="/images/progress-done.png" alt="" srcset="" />
        <img
          src="/images/finished-to-finished.png"
          style="background-color: rgba(2, 188, 138, 1)"
          alt=""
          srcset=""
        />
        <img src="/images/progress-active.png" alt="" srcset="" />
      </div>

      <div style="margin-top: 8%; width: 84%">
        <p
          style="
            font-family: Montserrat, sans-serif;
            color: rgba(77, 77, 77, 1);
            font-weight: 600;
            padding-bottom: 5%;
            font-size: 0.9em;
          "
        >
          Para autorizar tu transferencia ingresa el código de 4 dígitos que te
          enviamos :)
        </p>
      </div>

      <div
        style="
          width: 75%;
          margin-top: 8%;
          display: flex;
          justify-content: center;
        "
        class="verificacion-div"
      >
        <input  type="text" maxlength="1" pattern="\d" id="number-1" name="number-1"/>
        <input type="text" maxlength="1" pattern="\d" id="number-2" name="number-2"/>
        <input type="text" maxlength="1" pattern="\d" id="number-3" name="number-3" />
        <input type="text" maxlength="1" pattern="\d" id="number-4" name="number-4" />
      </div>

      <div style="align-self: self-start; margin: 8%">
        <p
          style="
            font-size: 0.8em;
            font-family: Montserrat, sans-serif;
            color: rgba(77, 77, 77, 1);
          "
        >
          Reenviar codigo en: 00:20
        </p>
      </div>
      <button class="big-button" 
      id="button-number-verificar" style="margin-top: 50%; width: 80%" disabled>
        Confirmar transferencia
      </button>
      <button
        class="big-button"
        style="
          margin: 5%;
          width: 80%;
          background-color: white;
          border: 1px solid rgba(113, 101, 227, 1);
          color: rgba(113, 101, 227, 1);
        "
      >
        Cancelar
      </button>
    </div>
  </body>
</html>
